<html>
  <head>
    <link rel='stylesheet' href='ui.css'/>
    <script src='jquery-min.js'></script>
    <script src='jquery-ui-custom-min.js'></script>
    <script>
      $(document).ready(function(){
        $('#tabs').tabs({tabTemplate: '<li><a href=\"\#{href}\">\#{label}</a></li>'})
      });
    </script>
  </head>
  <body>
    <div id='tabs'>
      <ul id='nav' class='clearfix'>
        <% comics.collect do |comic| -%>
          <li><a href='#<%= comic.title %>'><%= comic.title %></a></li>
        <% end -%>
      </ul>
      <br/>
      <% comics.map do |comic| -%>
        <div id='<%= comic.title %>'><%= comic.images.flatten.join('<br/>') %></div>
      <% end -%>
    </div>
  </body>
</html>
